:root {
    --primary-background: #e1dfb6;
    --secondary-background: #7a9244;

    --primary-text-color: #5c452d;
    --secondary-text-color: #e1dfb6;
    --accent-color-light: #c5ee7d;
    --accent-color-dark: #8cb04e;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--primary-background);
    color: var(--primary-text-color);
    font-family: "Roboto", serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    max-width: 100%;
}

p, li {
    max-width: 75ch;
    text-wrap: pretty;
}

.content {
    max-width: 1800px;
    margin-inline: auto;
}

header {
    position: sticky;
    top: 0;
    background-color: inherit;

    .content {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        padding: 1em;
        gap: 0.5em;

    }
    
    .logo {
        max-width: 3rem;
        margin-right: 1em;
    }

    #hamburger {
        position: absolute;
        visibility: hidden;

        &:checked + nav {
            display: flex;
        }

        &:checked ~ .hamburger {
            .hamburger-bar:nth-child(1) {
                transform: translateY(0.5em) rotate(45deg);
            }

            .hamburger-bar:nth-child(2) {
                visibility: hidden;
            }

            .hamburger-bar:nth-child(3) {
                transform: translateY(-0.5em) rotate(-45deg);
            }
        }
    }

    nav {
        grid-row: 2;
        display: none;
        flex-direction: column;
        align-items: start;
        margin-top: 1em;

        a {
            text-decoration: none;
            color: inherit;
            border-bottom: 4px solid transparent;
            padding: 0.25em 0.5em;

            &:hover {
                border-bottom-color: var(--accent-color-dark);
            }
        }
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        cursor: pointer;
        
        .hamburger-bar {
            width: 2em;
            height: 0.25em;
            background-color: var(--primary-text-color);
            transition: transform ease-in .1s;
        }
    }
}

@media (width >= 500px) {
    header .content {
        display: flex;
        justify-content: space-between;

        #hamburger ~ nav {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: end;
            margin-top: 0;
        }

        .hamburger {
            display: none;
        }
    }
}

main {
    flex: 1;

    section {
        padding: 1em;

        h2 {
            text-align: center;
        }
    }

    #hero {
        min-height: 600px;
        background-image: url("/images/shrek_rizz.jpg");
        background-size: cover;
        background-position: 39% 52%;

        .page-heading {
            background-color: var(--accent-color-dark);
            padding: 1.5em;
            border-radius: 1em;
            max-width: 500px;

            h1 {
                margin: 0;
            }

            p {
                display: none;
                margin-top: 0.5em;
                margin-bottom: 0;
                color: var(--secondary-text-color);
            }
        }
    }

    @media (width >= 1100px) {
        #hero {

            .page-heading {
                margin-top: 5em;
                
                p {
                    display: block;
                }
            }
        }
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;

        .card {
            background-color: var(--accent-color-dark);
            color: var(--secondary-text-color);
            padding: 1em;
            border-radius: 1em;
            flex: 1;
            max-width: 40ch;

            img {
                margin-inline: auto;
                margin-bottom: 1em;
            }

            h3 {
                color: var(--primary-text-color);
            }
        }
    }

    @media (width >= 1000px) {
        .card-wrapper {
            flex-direction: row;
            align-items: normal;
        }
    }

    #cardsTwo {
        
        .card-wrapper {
            margin-bottom: 1em;
        }
    }
}

footer {
    background-color: var(--secondary-background);
    color: var(--secondary-text-color);
    padding: 1em;

    .columns {
        display: flex;
        flex-direction: column;
    
        .column {
            flex: 1;
        }
    
        ul {
            padding-left: 20px;
        }
    }

    @media (width >= 1000px) {
        .columns {
            flex-direction: row;

            .column:last-child {
                text-align: end;

                p {
                    margin-left: auto;
                }
            }
        }
    }

    .copyright {
        max-width: none;
        text-align: center;
    }
}